

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div data-bind="template : { name: View }"></div>

    @Scripts.Render("~/bundles/app")

</body>
</html>
